body {
  background: url("../assets/images/hero.gif");
  background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {
  margin: 0;
  padding: 2% 0;
  background: hsla(0,0%,100%,0);
  position: fixed;
}

nav img {
  width: 6%;
  float: left;
  margin-left: 10px;
}

main {
  padding: 120px 0;
}

.container {
  width: 85%;
  background: hsla(0,0%,100%,0);
  margin: 0 5%;
}

.buttons-nav {
  float: right;
}

.buttons-nav div {
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 10px 16px;
  margin: 0 10px;
  text-align: center;
}

.login {
  border: solid white 1px;
  border-radius: 10px;
}

#hero {
  clear: left;
  width: 100%;
  height: 472px;
}

#hero section {
  background: white;
  width: 460px;
  text-align: left;
  padding: 30px 50px;
  float: right;
}

#hero h2 {
  font-size: 40px;
  color: #352384;
  line-height: 40px;
  font-weight: 700;
}

#hero h4 {
  font-size: 15px;
  color: #352384;
  font-weight: 400;
  line-height: 0px;
}

#hero input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  border-bottom: solid #352384 2px;
  width: 100%;
  font-size: 16px;
  color: #728099;
  padding: 25px 0 10px 0;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: none;
  margin: 40px 0;
  padding: 15px 25px;
}

#hero .pink {
  color: white;
  background: #FF00BF;
  border-radius: 10px;
}

#hero .white {
  background: white;
}

#hero .white a {
  color: #728099;
}

#hero p {
  color: #728099;
  font-size: 11px;
}

#features {
  clear: left;
  background: linear-gradient(#76278F, #2B1E66);
  color: white;
  padding: 140px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  height: 500px;
}

#features h2 {
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
}

.features-text {
  float: left;
}

.features-image {
  width: 45%;
  float: right;
}

.features-image > img {
  width: 100%;
}

.whatch-box {
  width: 100%;
}


.video-one,
/*.text-two,*/
.video-three {
  float: right;
  width:70%;
  height: 600px;
}

.text-one,
.video-two,
.text-three {
  float: left;
}

.text-one,
.text-two,
.text-three {
  width: 23.3%;
  height: 560px;
  background: white;
  padding: 20px 50px;
  font-weight: 400;
}

#whatch > .text-one > h6,
#whatch > .text-one > h2,
#whatch > .text-two > h6,
#whatch > .text-two > h2,
#whatch > .text-three > h6,
#whatch > .text-three > h2 {
  text-transform: uppercase;
  line-height: 0px;
}

footer {
  background: #333447;
  color: white;
  clear:left;
  height: 400px;
  padding: 50px;
  line-height: 30px;
}

footer > .icon-stores > img {
  width: 150px;
  display: block;
  margin-top: 25px;
  margin-left: 90px;
}

footer > div {
  display: inline-block;
  margin: 0 88px;
}

footer > div > h3 {
  text-transform: uppercase;
  font-weight: 600;
}

footer > div > p:hover {
  color: #FF00BF;
  cursor: pointer;
}

.icons-network {
  margin: 50px 0 35px 0;
  font-size: 20px;
  display: block;
  text-align: center;
}

.icons-network > span {
  margin: 85px 40px 20px 40px;
  border: solid white 1px;
  padding: 10px;
  border-radius: 50%;
}

hr {
  height: 1px;
  width: 900px;
  background: white;
}
 footer > p {
   text-align: center;
 }
