body {
  background: url("../assets/images/hero.gif");
  background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-repeat: no-repeat;
}

nav { /*estilos para el menú de navegación*/
  margin: 0;
  padding: 2% 0;
  background: hsla(0,0%,100%,0);
  position: fixed;
}

nav img { /*estilos para el logo de la página que se encuentra en el menú de navegación*/
  width: 6%;
  float: left;
  margin-left: 10px;
}

main { /*padding para evitar el solapamiento entre el formulario de la seción Hero y el menú de navegación*/
  padding: 120px 0;
}

.container {  /*estilos del contenedor del menú de navegación para controlar los margenes*/
  width: 85%;
  background: hsla(0,0%,100%,0);
  margin: 0 5%;
}

.buttons-nav { /*estilos para mover los botones del menú de navegación*/
  float: right;
}

.buttons-nav div { /*estilos para los botones del menú de navegación*/
  color: white;
  display: inline-block;
  font-size: 18px;
  padding: 10px 16px;
  margin: 0 10px;
  text-align: center;
}

.login { /*estilo que diferencia botón en el menú de navegación*/
  border: solid white 1px;
  border-radius: 10px;
}

#hero { /*estilos de la sección Hero*/
  clear: left;
  width: 100%;
  height: 540px;
}

#hero section { /*estilos de la sección que contiene el formulario en la sección Hero*/
  background: white;
  width: 35%;
  height: 480px;
  text-align: left;
  padding: 30px 50px;
  float: right;
}

#hero h2 { /*diferencia de estilos en la sección Hero*/
  font-size: 40px;
  color: #352384;
  line-height: 40px;
  font-weight: 700;
}

#hero h4 { /*diferencia de estilos en la sección Hero*/
  font-size: 15px;
  color: #352384;
  font-weight: 400;
  line-height: 0px;
}

#hero input { /*diferencia de estilos en el formulario de la sección Hero*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  border: none;
  border-bottom: solid #352384 2px;
  width: 100%;
  font-size: 16px;
  color: #728099;
  padding: 25px 0 10px 0;
}

button { /*diferencia de estilos en el formulario de la sección Hero*/
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  border: none;
  margin: 40px 0;
  padding: 15px 25px;
}

#hero .pink { /*diferencia de estilos en el formulario de la sección Hero*/
  color: white;
  background: #FF00BF;
  border-radius: 10px;
}

#hero .white { /*diferencia de estilos en el formulario de la sección Hero*/
  background: white;
}

#hero .white a { /*diferencia de estilos en el formulario de la sección Hero*/
  color: #728099;
}

#hero p { /*diferencia de estilos en la sección Hero*/
  color: #728099;
  font-size: 11px;
}

#features { /*estilos de la sección Feactures*/
  clear: left;
  background: linear-gradient(#76278F, #2B1E66);
  width: 100%;
  color: white;
  padding: 5% 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  height: 500px;
}

#features h2 { /*estilos para diferenciar títulos en la sección de Feactures*/
  margin-top: 0;
  font-weight: 400;
  font-size: 28px;
  text-transform: uppercase;
}

.features-text, /*estilos para posicionar elementos en la sección Feactures*/
.features-image {
  display: inline-block;
  width: 30%;
  margin: 0 5%;
  text-align: left;
}

.features-image > img { /* estilo para la imagen de la sección Feactures*/
  width: 99%;
}

#whatch .whatch-box { /*estilos para el contenedor de la sección Watch*/
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  clear: right;
}

.video-one, /*estilos para los contenedores de los videos*/
.video-two,
.video-three {
  float: right;
  width: 63%;
  height: auto;
  background: white;
  margin: 0px;
}

.video-one > iframe, /*estilos para el tamaño de lo videos dentro de los contenedores*/
.video-two > iframe,
.video-three > iframe {
  width: 100%;
  height: 520px;
  margin: 0;
  border-style: outset;
}

.text-one, /*estilos para los textos de descripción de los videos*/
.text-two,
.text-three {
  float: right;
  width: 29%;
  height: auto;
  background: white;
  padding: 20px 50px;
  font-weight: 400;
  margin: 0;
}

#whatch > .whatch-box >.text-one > h6, /*estilos para diferenciar títulos en la sección de Watch*/
#whatch > .whatch-box >.text-one > h2,
#whatch > .whatch-box > .text-two > h6,
#whatch > .whatch-box > .text-two > h2,
#whatch > .whatch-box > .text-three > h6,
#whatch > .whatch-box > .text-three > h2 {
  text-transform: uppercase;
  line-height: 0px;
}

footer { /*estilos para el footer*/
  clear: both;
  background: #333447;
  color: white;
  height: auto;
  padding: 50px;
  line-height: 30px;
}

footer > .icon-stores > img { /*estilos para las imagenes de tiendas virtuales en el footer*/
  width: 150px;
  display: block;
  margin-top: 25px;
  margin-left: 90px;
}

footer > div { /*estilos para los contenedores con información en el footer*/
  display: inline-block;
  margin: 50px 88px 0 88px;
}

footer > div > h3 { /*estilos especiales para los títulos del footer*/
  text-transform: uppercase;
  font-weight: 600;
}

footer > div > p:hover {
  color: #FF00BF;
  cursor: pointer;
}

.icons-network {
  margin: 50px 0 35px 0;
  font-size: 20px;
  display: block;
  text-align: center;
}

.icons-network > span {
  margin: 85px 40px 20px 40px;
  border: solid white 1px;
  padding: 10px;
  border-radius: 50%;
}

hr {
  height: 1px;
  width: 900px;
  background: white;
}
 footer > p {
   text-align: center;
 }
